<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>tannhn.listener.ContextListener</listener-class>
    </listener>
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>tannhn.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>tannhn.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>tannhn.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHotelController</servlet-name>
        <servlet-class>tannhn.controllers.SearchHotelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRoomController</servlet-name>
        <servlet-class>tannhn.controllers.SearchRoomController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>tannhn.controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>tannhn.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartItemController</servlet-name>
        <servlet-class>tannhn.controllers.DeleteCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>tannhn.controllers.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchBookingController</servlet-name>
        <servlet-class>tannhn.controllers.SearchBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeactiveBookingControlller</servlet-name>
        <servlet-class>tannhn.controllers.DeactiveBookingControlller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>tannhn.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBookingController</servlet-name>
        <servlet-class>tannhn.controllers.ConfirmBookingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRoomFromHotelControlller</servlet-name>
        <servlet-class>tannhn.controllers.GetRoomFromHotelControlller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHotelController</servlet-name>
        <url-pattern>/SearchHotelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRoomController</servlet-name>
        <url-pattern>/SearchRoomController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartItemController</servlet-name>
        <url-pattern>/DeleteCartItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/CheckOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchBookingController</servlet-name>
        <url-pattern>/SearchBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeactiveBookingControlller</servlet-name>
        <url-pattern>/DeactiveBookingControlller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBookingController</servlet-name>
        <url-pattern>/ConfirmBookingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRoomFromHotelControlller</servlet-name>
        <url-pattern>/GetRoomFromHotelControlller</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
</web-app>
